/* --------------------------------- Colors --------------------------------- */

:root {
	--color-primary: #c69963;
	--color-primary-dark: #b28451;
	--color-secondary: #101d2c;
	--color-gray-light-1: #f9f7f6;
	--color-gray-light-2: #aaa;
	--color-gray-dark-1: #54483a;
	--color-gray-dark-2: #6d5d4b;

	/* --------------------------------- Shadows -------------------------------- */

	--shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
	--shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);

	/* ---------------------------------- Fonts --------------------------------- */
	--font-primary: 'Nunito', sans-serif;
	--font-display: 'Josefin Sans', sans-serif;

	/* --------------------------------- clamps --------------------------------- */
}

/* ------------------------------ Break points ------------------------------ */

$bp-xxlg: 112.5em;
$bp-xlg: 75em;
$bp-lg: 65.5em;
$bp-md: 60em;
$bp-sm: 53.75em;
$bp-xsm: 50em;
$bp-xxsm: 37.5em;
$bp-xxxsm: 32.5em;
