.btn {
	background: var(--color-primary);
	padding: 1.5rem 2.5rem;
	color: white;
	border: none;
	border-radius: 0;
	font-family: var(--font-display);
	text-transform: uppercase;
	font-size: 1.5rem;
	cursor: pointer;
	transition: all 0.2s;

	&:hover {
		background-color: var(--color-primary-dark);
	}
}
