.container {
	display: grid;
	grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
	grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
}

.features {
	grid-column: center-start/center-end;
	display: grid;
	// grid-template-columns: repeat(3, 1fr);
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	justify-items: center;
	margin: 15rem 0;
	gap: 6rem;
}
